<div class="payment">
    <div class="packages">
        <div>
            <img src="https://voice.botnoi.ai/assets/img/Real_point.svg">
            <span>ระบุจำนวนที่ต้องการ</span>
            <form [formGroup]="inputPointForm">
                <input type="number" [min]="0" [step]="50" formControlName="point">
                <span>PT</span>
            </form>
        </div>
        <button (click)="inputCheckout()">
            {{ calcalateBaht(inputPointForm.value.point) }} บาท
        </button>
    </div>
    <div class="packages" *ngFor="let package of packages">
        <div>
            <img src="https://voice.botnoi.ai/assets/img/Real_point.svg">
            <span>{{ package.name }}</span>
        </div>
        <button (click)="packageCheckout(package.priceId)">
            {{ package.price | number: "1.0":"en-US" }} บาท
        </button>
    </div>
</div>
